// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button .expand {
  padding: 15px 32px;
  border: none;
   color: red;
}

#letterChooser {
  text-align: center;
}
