// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
  padding: 15px 32px;
  border: none;
  color: red;
  font-size: 24px;
}

input:hover {
  color: white;
  background-color: red;
}
#letterChooser {
  text-align: center;
}

.jumbotron {
  color: red;
}

.success {
	color: white;
}


