<h1>Evil Hangman</h1>
<p>Welcome, lets play a little game...</p>



                    <% current_game.word.split('').each do |letter| %>
                            <div class="word-letter">
                                <%= current_game.finished? || current_game.selected_letters.include?(letter) ? letter : '_' %>
                            </div>
                    <% end %>
                

        <% if current_game.finished? %>
                    <% if current_game.guessed? %>
                        <h3>You successfully guessed the word!</h3>
                    <% else %>
                        <h3>You did not guess the word...</h3>
                    <% end %>
        <% end %>

        <%= form_for :game, :url => game_path, :method => :patch do |form| %>
            <div class="row">
                <div class="letters">
                    <% ('A'..'Z').each do |letter| %>
                        <%
                            if current_game.selected_letters.include? letter
                                button_class = current_game.word.include?(letter) ? 'success' : 'alert'
                            end
                        %>
                        <div class="small-2 medium-2 columns text-center">
                            <div class="letter">
                                <%= form.submit letter, :name => 'letter', :class => "button expand #{button_class}" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>