<% provide(:title, "Contact") %>
<div class="center jumbotron">
  <h1>Contact Us</h1>

  <h2>Billy Van Der Laar: vanderlaar.1@osu.edu</h2>
  <h2>Kelly McCleese:		mccleese.18@osu.edu</h2>
  <h2>Sayeed Siddiqui:	siddiqui.77@osu.edu</h2>

  <%= link_to "Back to the game!", '/', class: "btn btn-lg btn-primary" %>
</div>