<h1>Need Help?</h1>
<p size = "20">First, you must login or sign up. Then to play, from your profile click the "Play Hangman" button. This game is played by you, the user, just like any normal game of Hangman. However, you may find it suspiciously difficult to guess the correct word...</p>