<h1>Need Help?</h1>
<div class = "transbox">
<ol>
<li>Login or Sign up</li>
<li>Navigate to your account page by clicking the button at the top right of the screen.</li>
<li>Click the "Play Hangman" button.</li>
<li>Play the game just like a regular game of hangman.</li>
<li>Beware of something fishy going on...</li>
</ol>
</div>
